@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar {
  scrollbar-color: initial;
  scrollbar-width: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #E1E1E1;
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #6B6A6A;
  border-radius: 9999px;
  border: 0px solid transparent;
  background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf")format('truetype');
    font-style: normal;
    font-weight: bold;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf")format('truetype');
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBold.ttf")format('truetype');
    font-style: normal;
    font-weight: 600;
  }

  @font-face {
    font-family: "TitanOne";
    src: url("../fonts/TitanOne-Regular.ttf")format('truetype');
    font-style: normal;
    font-weight: 400;
  }
}



* {
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
font-family: 'Poppins', sans-serif !important;
}
